@import url(fonts.css);
@import url(reset.css);

body {
    font-family: Inter, serif;
    color: #7D7D7D;
    line-height: 1.46;
    font-size: 18px;
    font-style: normal;
}

[class*="container"] {
    padding: 0px 15px;
}

.hero {
    font-family: 'TT Hoves', serif;
    line-height: 1.3;
    letter-spacing: 0.3px;
}

.title-main {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    color: rgb(47, 70, 70);
    text-align: center;
    text-shadow: 9px 3px 3px rgba(104, 133, 87, 0.4), 5px -2px 10px rgb(226, 115, 40, 0.4);
    letter-spacing: 0.5px;
}

.image {
    text-align: center;
}

.literature {
    font-family: 'TT Hoves', serif;
    line-height: 1.3;
    letter-spacing: 0.3px;
}

.list-literature,
.sublist {
    list-style: none;
}

.text {
    font-weight: 400;
    font-size: 18px;
    color: rgb(63, 57, 57);
}

.text .accent {
    font-weight: 700;
    color: rgb(226, 115, 40);
    text-shadow: 3px 0px 3px rgba(104, 133, 87, 0.4);
    font-size: 20px;
}

.text.caption {
    text-decoration: underline;
    font-size: 25px;
    color: rgb(47, 70, 70);
    word-spacing: 7px;
}

.subtitle {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-indent: 20px;
    color: rgb(116, 24, 24);
    letter-spacing: 0.7px;
}

.subtitle+.text>.discr {
    color: rgb(216, 134, 10);
    font-size: 22px;
    font-weight: 500;
    text-indent: 20px;
}

.exalple-accent {
    font-style: oblique;
    color: rgb(91, 158, 52);
    font-weight: 500;
}

.heading, 
.content .slogan {
    font-family: Poppins, serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.27;
    color: #37393F;    
}

.heading-project {
    font-weight: 700;
    font-size: 40px;
}

.content .slogan {
    font-size: 20px;
    color: #6B77E5;
}

.list-wrap {
    padding-left: 16px;
}

ul.list-project{
    list-style: disc;
}

ul.list-project,
ol.list-project {
    font-weight: 500;     
    padding: 35px 0px 35px 16px;   
}